/*
 * SimpleModal Basic Modal Dialog
 * http://www.ericmmartin.com/projects/simplemodal/
 * http://code.google.com/p/simplemodal/
 *
 * Copyright (c) 2010 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 *
 * Revision: $Id: basic.css 257 2010-07-27 23:06:56Z emartin24 $
 */

#basic-modal-content {display:none;}

/* Overlay */
#floost-overlay {position: fixed !important; background-color:#000;}

/* Container */
#floost-container {width:600px; color:#333; background-color:none; border:none; padding:12px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px}
#floost-container .floost-data {padding:8px;}
#floost-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:1em;/*12px*/ margin-bottom:12px; padding:4px 6px 6px;}
/*#floost-container a {color:#ddd;}*/
#floost-container a.modalCloseImg {background:url(../images/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}

#search-bar
{
		margin-bottom:120px;
}
#menu{
    float:right;
    margin-top:2px;
}
#menu ul{
    list-style-type:none;
    font-size:17px;
}
#menu li{
    float:left;line-height:1px;
    margin:0 20px 20px 0;
    color:#b7c4be;
}