#spec-loc-autocomplete-table{
    border:1px solid #CEDEE2;
    position: absolute;
    z-index: 1000;
    background: #fff;
}
#spec-loc-people-autocomplete-table{
    border:1px solid #CEDEE2;
    position: absolute;
    z-index: 1000;
    background: #fff;
}
#people-autocomplete-table{
    border:1px solid #CEDEE2;
    position: absolute;
    z-index: 1000;
    background: #fff;
}
#cuisines-autocomplete-table{
    border:1px solid #CEDEE2;
    position: absolute;
    z-index: 1000;
    background: #fff;
}

a:hover { text-decoration: none; }

.spec-loc-auto-data{
    cursor: pointer;
}
.people-auto-data{
    cursor: pointer;
}
.cuisines-auto-data{
    cursor: pointer;
}
#specific-location-modal .modal-content{
    height: 600px;
}
#specific-location-modal .modal-body{
    height: 450px;
}
#add-people-modal .modal-content{
    height: 420px;
}
#add-people-modal .modal-body{
    height: 255px;
}
.autocomplete-img{
    border-radius: 25px;
}
#stn{
    width: 300px;
    height: 306px;
    color: #333;
    background: url(/static/img/stn.png);
}