/** New Home Page CSS  starts here **/
body{background:url(../images/body_texture.png) left top repeat;padding:0;margin:0 auto;font-family: 'Antic Slab', serif;font-size:12px;line-height:18px;min-width:980px;color:#222;}
::selection, ::-webkit-selection, ::-moz-selection{background: #FF6666;color:black;}
#page, #topH, #footer{min-width:980px !important;}
#uInfo1{min-width:925px !important;}
h1, h2, h3, h4, h5, h6{margin:0;padding:0}
.fntn{font-weight:normal !important;}
form{display:inline;margin:0;padding:0}
.wrapper{margin:0 auto;width:90%}
a{text-decoration:none;color:#e62c42;}
a img{border:none;}
textarea{resize: none}

.wrap:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.wrap{display: block;}
.posFixed{position:fixed;}

.w100d{width:100%}
.flst_topbg{background: #333; height:55px;overflow:visible;}
.homepage_width{width:980px!important; margin:0px auto;}
.wrapper{margin:0 auto;width:90%}

.green_hd{color:#6fb03c; font-size:2em; border-bottom:1px solid #dddddd; padding:4px 0px 4px 2px; margin:0px 0px 18px  0px; width:570px; line-height:32px;font-family: "AvenirLTStd-Roman", sans-serif;}
.black_hd{color:#2d2d2d; font-size:2em;  padding:0px 0px 20px 2px; margin:0px 0px 18px  0px; text-align:center;font-family: "AvenirLTStd-Book", sans-serif;}
.fc_737373{color:#737373;}
.ml16{margin-left:16px}
.home_vid{background-position:0px -224px; width:376px; height:242px;}
.separator1{background:url(../images/separator1.png) no-repeat top left; width:960px; height:17px;}
.separator2{background:url(../images/separator2.png) no-repeat top left; width:960px; height:17px;}
.separator3{background:url(../images/separator3.png) no-repeat top left; width:960px; height:17px;}
.mr25{margin-right:30px}
.fl{float:left}
.fr{float:right}
.clr{clear:both;height:1px;font-size:1px;overflow:hidden}
.small_red_arr{background-position:-430px -354px; width:8px; height:10px; margin:4px 0px 0px 8px;}
.get_started{margin:0px auto; display:inline-block}
.import_blog{background-position:-316px -68px; width:48px; height:52px;}
.personalization{background-position:-140px -76px; width:48px; height:46px;}
.social_user{background-position:-5px -68px; width:55px; height:46px;}
.post_mail{background-position:-75px -72px; width:55px; height:46px;}
.footer_ln{background:#dadada; height:1px; overflow:hidden; border-bottom:1px solid #fff;}
#home_footer ul{display:inline; margin:0px; padding:0px;}
#home_footer ul li{display:inline; margin:0px; padding:0px 24px 0px 0px;}
.home_fb{background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #4f7dc4), color-stop(100%, #2d4796));background-image:-webkit-linear-gradient(top, #4f7dc4, #2d4796);background-image:-moz-linear-gradient(top, #4f7dc4, #2d4796);background-image:-ms-linear-gradient(top, #4f7dc4, #2d4796);background-image: -o-linear-gradient(top, #4f7dc4, #2d4796);background-image: linear-gradient(top, #4f7dc4, #2d4796); border:0px solid #26408f; border-radius:4px; color:#fff; font-size:1.2em; padding:5px 18px; text-shadow:0 1px 1px #666; cursor:pointer }
.home_fb:hover{background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d4796), color-stop(100%, #4f7dc4));background-image:-webkit-linear-gradient(top, #2d4796, #4f7dc4);background-image:-moz-linear-gradient(top, #2d4796, #4f7dc4);background-image:-ms-linear-gradient(top, #2d4796, #4f7dc4);background-image: -o-linear-gradient(top, #2d4796, #4f7dc4);background-image: linear-gradient(top, #2d4796, #4f7dc4);}
.home_twitter{background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #00c8f3), color-stop(100%, #0094e8));background-image:-webkit-linear-gradient(top, #00c8f3, #0094e8);background-image:-moz-linear-gradient(top, #00c8f3, #0094e8);background-image:-ms-linear-gradient(top, #00c8f3, #0094e8);background-image: -o-linear-gradient(top, #00c8f3, #0094e8);background-image: linear-gradient(top, #00c8f3, #0094e8); border:0px solid #26408f; border-radius:4px; color:#fff; font-size:1.2em; padding:5px 18px; text-shadow:0 1px 1px #666; cursor:pointer }
.home_twitter:hover{background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #0094e8), color-stop(100%, #00c8f3));background-image:-webkit-linear-gradient(top, #0094e8, #00c8f3);background-image:-moz-linear-gradient(top, #0094e8, #00c8f3);background-image:-ms-linear-gradient(top, #0094e8, #00c8f3);background-image: -o-linear-gradient(top, #0094e8, #00c8f3);background-image: linear-gradient(top, #0094e8, #00c8f3);}
.home_plus{background-position:-279px -89px; width:25px; height:25px; top:43px; left:43px;}
.home_tick{background-position:-380px -89px; width:25px; height:25px; top:43px; left:43px;}
.parent_circle{width:112px;text-shadow: 0 1px 0 #fff;cursor:pointer;}
.parent_circle .home_plus{display:none;}
.parent_circle:hover .home_plus{display:block; cursor:pointer}
.bottom_base{background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #efefef), color-stop(100%, #f5f5f5));background-image:-webkit-linear-gradient(top, #efefef, #f5f5f5);background-image:-moz-linear-gradient(top, #efefef, #f5f5f5);background-image:-ms-linear-gradient(top, #efefef, #f5f5f5);background-image: -o-linear-gradient(top, #efefef, #f5f5f5);background-image: linear-gradient(top, #efefef, #f5f5f5); border-bottom:1px solid #acacac; box-shadow:0 2px 4px #bdbdbd; -webkit-box-shadow:0 2px 4px #bdbdbd; -moz-box-shadow:0 2px 4px #bdbdbd; -o-box-shadow:0 2px 4px #bdbdbd; -ms-box-shadow:0 2px 4px #bdbdbd;}

.bottom_base_lt{width:100%; border-right:1px dashed #d2d2d2;}
.int_text{width:200px;margin-left:7px;}
.ml20{margin-left:20px}
.btn_red{cursor:pointer;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fd243e), color-stop(100%, #d71d2b));background-image:-webkit-linear-gradient(top, #fd243e, #d71d2b);background-image:-moz-linear-gradient(top, #fd243e, #d71d2b);background-image:-ms-linear-gradient(top, #fd243e, #d71d2b);background-image: -o-linear-gradient(top, #fd243e, #d71d2b);background-image: linear-gradient(top, #fd243e, #d71d2b);border:1px solid #a80030;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;-moz-box-shadow: inset 0 1px 0 0 #fe96a7;-ms-box-shadow: inset 0 1px 0 0 #fe96a7;-o-box-shadow: inset 0 1px 0 0 #fe96a7;color:#ffffff;padding:6px 20px;text-align: center;text-shadow: 0 -1px 0px #000;background-color:#FF446B;}
.btn_red:hover{box-shadow:inset 0 1px 0 0 #fe96a7, 0 1px 3px #888;}

.fnt11{font-size:0.91em}
.fnt12{font-size:1em}
.fnt14{font-size:1.16em}
.fnt16{font-size:1.33em}
.fnt17{font-size:1.41em}
.fnt18{font-size:1.5em}
.fnt19{font-size:1.58em!important}
.fnt20{font-size:1.66em}
.fnt32{font-size:2.66em}
.fc_fff,.widget p.fc_fff{color:#fff}
.fc_848484{color:#848484}
.fc_898c8c{color:#898c8c}
.fc_e62c42, .fc_e62c42 a{color:#e62c42}
.fc_222,.fc_222 a{color:#222}
.fc_333{color:#333;}
.fc_777{color:#777;}
.fc_999,.fc_999 a{color:#999}
.fc_9fa0a2{color:#9fa0a2}
.fc_c0c0c0{color:#c0c0c0}
.fc_f00{color:#f00}
.fc_green{color:#008000}
.fc_ccc{color: #ccc;}
.fc_666{color: #666;}
.fc_000{color: #000;}
.ls3{letter-spacing:3px }
.ml43{margin-left:43px}


.lh13{line-height:13px}
.lh27{line-height:27px}
.lh36{line-height:36px}
.lh33{line-height:33px}

/**CSS for Sprite Interest images**/
.default_circle{background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #fafafa));background-image:-webkit-linear-gradient(top, #fefefe, #fafafa);background-image:-moz-linear-gradient(top, #fefefe, #fafafa);background-image:-ms-linear-gradient(top, #fefefe, #fafafa);background-image: -o-linear-gradient(top, #fefefe, #fafafa);background-image: linear-gradient(top, #fefefe, #fafafa);width: 110px;height: 110px;border-radius: 50%; -moz-border-radius:50%; -webkit-border-radius:50%; border:1px solid #e6e6e6; box-shadow:0px 2px 1px #cfcfcf; -webkit-box-shadow:0px 2px 1px #cfcfcf; -moz-box-shadow:0px 2px 1px #cfcfcf; text-align:center; cursor:pointer; margin:0px auto; transition:1s; -webkit-transition:1s}
.default_circle:hover, .selected_circle, .active_circle, .parent_circle:hover .default_circle{background: #2e92df; margin:0px auto; opacity:0.8; box-shadow:none}
.selected_circle{background: #2e92df !important;}

.home_login_bg{background:#3e4248; border:1px solid #14161c; border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; box-shadow:inset 1px 2px 8px #222; padding:2px 2px 0px 2px; width:134px; margin-top:6px; height:25px }
.home_login_bg:hover{background:#5a5d61;border:1px solid #14161c; border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; box-shadow:inset 1px 2px 8px #222;}
.home_login{background-color:transparent; border:0px; width:96%;color:#9699a1; padding:0px 0px 0px 6px; height:25px;}

/*
.auth a{
	color:#FFFFFF;
	float:right;
	overflow:hidden;
	display:block;
	position:relative;
	right:-150px;
	top: 10px;
	font-size: 18px;
}
*/
.rwd_tac{
	font-size: 15px;
}
.login-form{
	position:relative;
	top: 100px;
	margin-bottom: 200px;
}

.sidebar{
	min-width:200px;
	margin:0 5px 0 5px;
	padding:10px;
	position:relative;
	float:left;
	font-size: 17px;
	margin-top: 50px;
}
.sub-content{
	float: left;
	width: 880px;
	margin:0 5px 0 5px;
	padding:10px;
	position:relative;
	float:left;
	font-size: 17px;
}

.sub-bottom-content{
	clear: left;
	width: 880px;
	margin:0 5px 0 5px;
	padding:10px;
	position:relative;
	float:left;
	font-size: 17px;
}

.subheader_sidebar{
	width:180px;

}

.subheader{
	margin:0 5px 0 5px;
	padding:10px;
	position:relative;
	float:left;
	font-size: 17px;
	margin-top: 50px;
	width:380px;

}

.seperator_sidebar{
	width:180px;
	border-bottom: solid 1px #00a3ff;
	display: block;
}

.seperator{
	width: 300px;
	border-bottom: solid 1px #00a3ff;
}

.divider{
	position:relative;
	left:-30px;
	width:3px;
	height:100%;
	background-color: #464646;
	float:left;
}

#upload-button{
	position:relative;
	left:10%;
	top:100px;
	margin-bottom:400px;
}

.upload_button_menu{
	position:relative;
	top:-5px;
}

#form-privacy{
	position:relative;
	left:30px;
}

.simple_overlay {
	display:none;
	z-index:10000;
	background-color:#333;
	width:675px;
	min-height:200px;
	border:1px solid #666;
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;
	color: #fffbf2;
}
.content{
	height: auto !important;
}

.subheader{
	padding:20px 10px 10px 1px
}
H1 {
    text-align: center;
}

#examples {
    padding-left: 10px;
}

.endingRemark {
    margin-top: 30px;
}

DIV.example {
    margin-top: 50px;
}

DIV.example ul {
    width: 500px;
}
