
/* the overlayed element */
.apple_overlay {

    /* initially overlay is hidden */
    display:none;

    /* growing background image */
    background-image:url(../images/white.png);

    /*
      width after the growing animation finishes
      height is automatically calculated
      */
    /* some padding to layout nested elements nicely  */
    padding:35px;

    /* a little styling */
    font-size:11px;
	width:500px;
}
label.apple_overlay{
	    font-size:11px;
}
/* default close button positioned on upper right corner */
.apple_overlay .close {
    background-image:url(../images/close.png);
    position:absolute; right:5px; top:5px;
    cursor:pointer;
    height:35px;
    width:35px;
}
#custom div.close {
	right:-15px;
	top:-10px;
}
#apple {
	background-image:url(/static/images/apple.png);
	color:#fff;
	padding:50px 70px;
}