@charset "utf-8";
/* CSS Document */
/* Reset styles*/
select{outline:none;}
/* end reset styles */
body{background:#f4f4f4;}
.static_div_bg{background-color:#FFF;border:1px solid #b2b2b2; border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -webkit-border-radius:5px}
.ml3{margin-left:3px;}
.mt-4{margin-top:-4px;}
.ln_height12{line-height:12px;}
.board_textbox{height:22px;-webkit-box-shadow: inset 2px 2px 6px -1px #ccc;-moz-box-shadow: inset 2px 2px 6px -1px #ccc;-ms-box-shadow: inset 2px 2px 6px -1px #ccc;-o-box-shadow: inset 2px 2px 6px -1px #ccc;box-shadow: inset 2px 2px 6px -1px #ccc; border-radius:4px; width:192px; border:1px solid #ccc; padding:0px 4px;}

.like_sprite{background:url(../images/like_sprite.png) no-repeat 0px -14px; width:12px; height:12px; cursor:pointer}
.message_sprite{background:url(../images/like_sprite.png) no-repeat -22px -14px; width:12px; height:12px; margin-left:8px; cursor:pointer}
.refresh_sprite{background:url(../images/like_sprite.png) no-repeat -44px -14px; width:12px; height:13px; margin-left:7px; cursor:pointer}
.like_sprite:hover{background:url(../images/like_sprite.png) no-repeat 0px 0px; width:12px; height:12px; cursor:pointer}
.message_sprite:hover{background:url(../images/like_sprite.png) no-repeat -22px 0px; width:12px; height:12px; margin-left:8px; cursor:pointer}
.refresh_sprite:hover{background:url(../images/like_sprite.png) no-repeat -44px 0px; width:12px; height:13px; margin-left:7px; cursor:pointer}
.like_div_width{width:100px}
.f_9em{font-size:0.9em;}
.new_wizard{-webkit-box-shadow:0 -1px 2px #eee;-moz-box-shadow:0 -1px 2px #eee;-ms-box-shadow:0 -1px 2px #eee;-o-box-shadow:0 -1px 2px #eee; box-shadow:0 -1px 2px #eee; width:290px; margin:0 30px 30px 0; background:#ffffff; border:1px solid #d6d5d5;position:relative}
.home_hd{min-width:650px; padding:20px 0px 0px;}
.followers_div{background-color: #f8f8f8;background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #f5f5f5));background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);background-image: linear-gradient(top, #ffffff, #f5f5f5);border: 1px solid #d6d6d6;-webkit-border-radius: 6px 6px 0 0;-moz-border-radius: 6px 6px 0 0;-ms-border-radius: 6px 6px 0 0;-o-border-radius: 6px 6px 0 0;border-radius: 6px 6px 0 0;-webkit-box-shadow: -1px -1px 5px #dadada;-moz-box-shadow:-1px -1px 5px #dadada;-ms-box-shadow:-1px -1px 5px #dadada;-o-box-shadow:-1px -1px 5px #dadada;box-shadow:-1px -1px 5px #dadada; font-size:1.3em; padding: 5px 10px;text-align: center;}
.followers_innerdiv{min-width:60px}
.small{font-size:0.8em; color:#9B9B9B}
.smalltab{border-right:1px solid #000; font-size:0.8em;}
.smalltab_l{border-right:0px solid #000; font-size:0.8em;}
.gr_border{background:#d6d6d6; border-right:1px solid #fff; height:50px; width:1px; margin:-6px 6px;}
.mt0{margin-top:0px}
.new_div_box{-webkit-box-shadow:0 -1px 2px #eee;-moz-box-shadow:0 -1px 2px #eee;-ms-box-shadow:0 -1px 2px #eee;-o-box-shadow:0 -1px 2px #eee; box-shadow:0 -1px 2px #eee; width:290px; margin:0 30px 30px 0; background:#ffffff; border:1px solid #d6d5d5;}
.img_div_height{height:168px; position:relative}
.img_div_height_less{height:226px; position:relative}

.new_image:hover{opacity:0.5}
.img_padding{padding:10px}
.ptr{cursor:pointer}
.sep_line{background-color:#e6e6e6; height:1px;}
.headingfl{font-size:1.4em; font-weight:700px;}
.headingfl_light{font-size:1em; font-weight:700px;color:#777777}
.uicon_name{font-size:1em;}
.lightfont{font-size:0.9em; color:#777777}
.desc_bkg{background-color: #f8f8f8;background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #ffffff));background-image: -webkit-linear-gradient(top, #ffffff, #f6f6f6);background-image: -moz-linear-gradient(top, #ffffff, #f6f6f6);background-image: -ms-linear-gradient(top, #ffffff, #f6f6f6);background-image: -o-linear-gradient(top, #ffffff, #f6f6f6);background-image: linear-gradient(top, #ffffff, #f6f6f6);-webkit-box-shadow: inset 0 -2px 2px 0 #e4e4e4;-moz-box-shadow: inset 0 -2px 2px 0 #e4e4e4;-ms-box-shadow: inset 0 -2px 2px 0 #e4e4e4;-o-box-shadow:  inset 0 -2px 2px 0 #e4e4e4;box-shadow: inset 0px -2px 2px 0 #e4e4e4;width:290px;}
.desc_bkg_less{background-color: #f8f8f8;background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #ffffff));background-image: -webkit-linear-gradient(top, #ffffff, #f6f6f6);background-image: -moz-linear-gradient(top, #ffffff, #f6f6f6);background-image: -ms-linear-gradient(top, #ffffff, #f6f6f6);background-image: -o-linear-gradient(top, #ffffff, #f6f6f6);background-image: linear-gradient(top, #ffffff, #f6f6f6);-webkit-box-shadow: inset 0 -2px 2px 0 #e4e4e4;-moz-box-shadow: inset 0 -2px 2px 0 #e4e4e4;-ms-box-shadow: inset 0 -2px 2px 0 #e4e4e4;-o-box-shadow:  inset 0 -2px 2px 0 #e4e4e4;box-shadow: inset 0px -2px 2px 0 #e4e4e4;width:290px;position:absolute;top:150px;}
.btn_white, .follow_white{background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
background-image:-webkit-linear-gradient(top, #ffffff, #f5f5f5);background-image:-moz-linear-gradient(top, #ffffff, #f5f5f5);background-image:-ms-linear-gradient(top, #ffffff, #f5f5f5);background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);background-image: linear-gradient(top, #ffffff, #f5f5f5);border:1px solid #f5f5f5; border-top:1px solid #eee;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;color:#E62C42;font-size:1em;text-align: center;font-weight:800;background-color:#f5f5f5; font-weight:700; box-shadow:0 1px 1px 1px #c0c0c0; padding:3px 12px; cursor:pointer}
.btn_white:hover, .follow_white:hover{background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #ffffff));background-image:-webkit-linear-gradient(top, #f5f5f5, #ffffff);background-image:-moz-linear-gradient(top, #f5f5f5, #ffffff);background-image:-ms-linear-gradient(top, #f5f5f5, #ffffff);background-image: -o-linear-gradient(top, #f5f5f5, #ffffff);background-image: linear-gradient(top, #f5f5f5, #ffffff);border:1px solid #f5f5f5;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;color:#E62C42;font-size:1em;text-align: center;font-weight:800;background-color:#fff; font-weight:700; box-shadow:0 1px 1px 1px #c0c0c0; padding:3px 12px; cursor:pointer}
.follow_white {font-size:0.916em !important;padding:1px 8px !important;}
.fb_d{background:url(../images/fb_sd.png) no-repeat top left; width:16px; height:16px; float:left; margin-right:6px}
.fb_a{background:url(../images/fb_s.png) no-repeat top left; width:16px; height:16px; float:left; margin-right:6px}
.tw_d{background:url(../images/tw_sd.png) no-repeat top left; width:16px; height:16px; float:left;}
.tw_a{background:url(../images/tw_s.png) no-repeat top left; width:16px; height:16px; float:left;}
.bx_lcnt{width:100%;overflow:hidden;z-index:3;}
.bx_lcnt .default{float:left;background-color:#f4f4f4;border:1px solid #d6d6d6;-webkit-border-radius:4px 4px 0px 0px;-moz-border-radius:4px 4px 0px 0px;-ms-border-radius:4px 4px 0px 0px;-o-border-radius:4px 4px 0px 0px;border-radius:4px 4px 0px 0px;color:#757575;font-size:1em;text-shadow:1px 1px 0 #fff;padding:8px 20px 4px 20px;font-weight:700;text-decoration:none;margin-left:2px;height:22px;text-align:center;margin-top:14px;cursor:pointer;border-bottom:0;-moz-box-shadow: -1px -1px 5px #dadada;-webkit-box-shadow: -1px -1px 5px #dadada;/*box-shadow: -1px -1px 5px #dadada;*/box-shadow:inset 0 1px 0 0 #fbfbfb, 0 1px 5px #dadada;background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #e8e8e8));background-image: -webkit-linear-gradient(top, #f5f5f5, #e8e8e8);background-image: -moz-linear-gradient(top, #f5f5f5, #e8e8e8);background-image: -ms-linear-gradient(top, #f5f5f5, #e8e8e8);background-image: -o-linear-gradient(top, #f5f5f5, #e8e8e8);background-image: linear-gradient(top, #f5f5f5, #e8e8e8);margin-left:5px;}
.bx_lcnt .default:hover{background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8e8e8), color-stop(100%, #f5f5f5));background-image: -webkit-linear-gradient(top, #e8e8e8, #f5f5f5);background-image: -moz-linear-gradient(top, #e8e8e8, #f5f5f5);background-image: -ms-linear-gradient(top, #e8e8e8, #f5f5f5);background-image: -o-linear-gradient(top, #e8e8e8, #f5f5f5);background-image: linear-gradient(top, #e8e8e8, #f5f5f5);}
.bx_lcnt .default span{display:none;}
.bx_lcnt .selected{float:left;background-color:#f4f4f4;border:1px solid #d6d6d6;-webkit-border-radius:4px 4px 0px 0px;-moz-border-radius:4px 4px 0px 0px;-ms-border-radius:4px 4px 0px 0px;-o-border-radius:4px 4px 0px 0px;border-radius:4px 4px 0px 0px;color:#444;font-size:1em;text-shadow:1px 1px 0 #fff;padding:8px 20px 4px 20px;font-weight:700;text-decoration:none;margin-left:2px;height:23px;text-align:center;margin-top:14px;cursor:pointer;border-bottom:0;-moz-box-shadow: -1px -1px 5px #dadada;-webkit-box-shadow: -1px -1px 5px #dadada;/*box-shadow: -1px -1px 5px #dadada;*/box-shadow:inset 0 1px 0 0 #fbfbfb, 0 1px 5px #dadada;background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f4f4f4));background-image: -webkit-linear-gradient(top, #fff, #f4f4f4);background-image: -moz-linear-gradient(top, #fff, #f4f4f4);background-image: -ms-linear-gradient(top, #fff, #f4f4f4);background-image: -o-linear-gradient(top, #fff, #f4f4f4);background-image: linear-gradient(top, #fff, #f4f4f4);margin-left:5px;border-bottom:1px solid #f4f4f4;}
.bx_lcnt .selected span{display:none}

.p27_8{padding:27px 8px !important;}
.bx_lcnt span{color:#9b9b9b;font-size:0.91em; font-weight:normal}
.btn_dgray{cursor:pointer;background-color:#dedede;-webkit-border-radius:16px;-moz-border-radius:16px;-ms-border-radius:16px;-o-border-radius:16px;border-radius:16px;-webkit-box-shadow:inset 1px 1px 3px 0 #b3b3b3;-moz-box-shadow: inset 1px 1px 3px 0 #b3b3b3;-ms-box-shadow: inset 1px 1px 3px 0 #b3b3b3;-o-box-shadow: inset 1px 1px 3px 0 #b3b3b3;box-shadow:inset 1px 1px 3px 0 #b3b3b3;color:#888;font-size:11px;padding:2px 8px;text-align: center;}
.btn_dgray:hover{-webkit-box-shadow:inset -1px -1px 3px 0 #b3b3b3;-moz-box-shadow:inset -1px -1px 3px 0 #b3b3b3;-ms-box-shadow: inset -1px -1px 3px 0 #b3b3b3;-o-box-shadow: inset -1px -1px 3px 0 #b3b3b3;box-shadow:inset -1px -1px 3px 0 #b3b3b3;}

/**CSS For Status Starts**/

.status_sprite_bkg{background:url(../images/status_sprite.png) no-repeat; position:absolute; top:-6px; left:188px; z-index:100}

.green{background-position:0px 0px; width:25px; height:37px; cursor:pointer; opacity:0.3; top: 0px}
.blue{background-position:-33px 0px; width:25px; height:37px; cursor:pointer; opacity:0.3; top:0px}
.gray{background-position:-66px 0px; width:25px; height:37px; cursor:pointer; opacity:0.3; top:0px}
.red{background-position:-99px 0px; width:25px; height:37px; cursor:pointer; opacity:0.3; top:0px}

.green:hover{opacity:.7;}
.blue:hover{opacity:.7;}
.gray:hover{opacity:.7;}
.red:hover{opacity:.7;}

.icons_sprite{background:url(../images/icons_sprite.png) no-repeat; position:absolute; z-index:99;}
.repost{background-position:0px 0px; width:12px; height:13px; top:10px; left:6px; cursor:pointer}
.comment{background-position:-17px 0px; width:13px; height:11px; top:10px; left:6px; cursor:pointer}
.read{background-position:-40px 0px; width:18px; height:14px; top:10px; left:3px; cursor:pointer}
.like{background-position:-65px 0px; width:12px; height:13px; top:10px; left:6px; cursor:pointer}
.approve{background-position:-127px 0px; width:22px; height:24px; top:1px; left:0px; cursor:pointer;}
.sticky{background-position: -81px -3px;width: 18px;height: 13px;top: 10px;left: 6px;cursor: pointer;}
.sticky_post,.sticky:hover{background-position: -98px -2px;width: 17px;height: 22px;top: 10px;left: 4px;cursor: pointer;}
/**CSS For Status Ends**/

/* changes for new Single Page */
.otr_div{background:#000; opacity:0.7; width:100%; margin:0px auto;}
.innr_div{ padding:20px 0;}
.pop_md_div{width:600px;  margin:0px auto; background:#fff; position:relative}
.detail_md_div{width:600px; border:6px solid rgba(0,0,0,0.3); background:#fff; padding:18px 24px; position:relative; border:1px solid #dfdfdf; border-radius:5px; margin:0 20px 20px 10px;}

/**CSS for Like and Repost section in Modal Popup starts**/

.md_sprite{background:url(../images/sIcons.png) no-repeat;}
.md_l_arr, .l_glow{background-position:-309px -15px; width:150px; height:168px; position:fixed; top:350px; left:180px; cursor:pointer}
.md_r_arr, .r_glow{background-position:-163px -15px; width:150px; height:168px; position:fixed; top:350px; right:-196px; cursor:pointer}
.md_l_arr:hover,.l_glow{background-position:-449px -15px;}
.md_r_arr:hover,.r_glow{background-position:-22px -15px;}

/**CSS for Like and Repost section in Modal Popup Ends**/
.board_img, .board_img_detail{border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -o-border-radius:4px; border:2px solid #fff; box-shadow:0 0 8px #000; -webkit-box-shadow:0 0 8px #000; -moz-box-shadow:0 0 8px #000; -o-box-shadow:0 0 8px #000;}
.board_img{width:143px; height:105px;}
.board_img_detail{width:151px; position:relative; box-shadow:0 1px 2px #ccc; -webkit-box-shadow:0 1px 2px #ccc; -moz-box-shadow:0 1px 2px #ccc; -o-box-shadow:0 1px 2px #ccc;}
.board_author_detail{position: absolute;top: 1px;left: 2px;background: black;width: 132px; color:#fff; border-radius: 3px 3px 0 0;height: 22px; background:-webkit-gradient(linear, left top, left bottom,  color-stop(0%, rgba(64, 64, 64, 0.9)) ,color-stop(100%, transparent));background:-webkit-linear-gradient(top, rgba(64, 64, 64, 0.9), transparent);background:-moz-linear-gradient(top, rgba(64, 64, 64, 0.9), transparent);background:-o-linear-gradient(top, rgba(64, 64, 64, 0.9), transparent);background:-ms-linear-gradient(top, rgba(64, 64, 64, 0.9), transparent);background:linear-gradient(top, rgba(64, 64, 64, 0.9), transparent); text-align:right; padding:0px 6px 0px 6px;}
.board_author_detail{width:139px; top:0px; left:0px}
.board_title_detail{background: white;width: 139px; color:#222; text-align:center; padding:4px 6px; line-height:1.2em}

/**CSS for Board Detail (Hanging) in Modal Popup starts**/

.board_img_dv{position:fixed;top:200px;}
.board_img{border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -o-border-radius:4px; width:143px; height:105px; border:2px solid #fff; box-shadow:0 0 8px #000; -webkit-box-shadow:0 0 8px #000; -moz-box-shadow:0 0 8px #000; -o-box-shadow:0 0 8px #000;}
.board_author{position: absolute;top: 2px;left: 2px;background: black;width: 131px; color:#fff; border-radius: 3px 3px 0 0;height: 22px; background:-webkit-gradient(linear, left top, left bottom,  color-stop(0%, rgba(64, 64, 64, 0.9)) ,color-stop(100%, transparent));background:-webkit-linear-gradient(top, rgba(64, 64, 64, 0.9), transparent);background:-moz-linear-gradient(top, rgba(64, 64, 64, 0.9), transparent);background:-o-linear-gradient(top, rgba(64, 64, 64, 0.9), transparent);background:-ms-linear-gradient(top, rgba(64, 64, 64, 0.9), transparent);background:linear-gradient(top, rgba(64, 64, 64, 0.9), transparent); text-align:right; padding:0px 6px 0px 6px;}
.board_title{position: absolute;bottom: 2px;left: 2px;background: black;width: 131px; color:#fff; border-radius: 3px 3px 0 0;height: 22px; background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, rgba(64, 64, 64, 0.9)));background:-webkit-linear-gradient(top, transparent, rgba(64, 64, 64, 0.9));background:-moz-linear-gradient(top, transparent, rgba(64, 64, 64, 0.9));background:-o-linear-gradient(top, transparent, rgba(64, 64, 64, 0.9));background:-ms-linear-gradient(top, transparent, rgba(64, 64, 64, 0.9));background:linear-gradient(top, transparent, rgba(64, 64, 64, 0.9));text-align:center; padding:6px 6px 0px;}
.board_img_dv .follow_modal{position:absolute; left:43px; background:#fff; width:60px; height:20px; border-radius:0px 0px 4px 4px; color:#E62C42; font-weight:700; text-align:center;}

.likerepost_sprite{background:url(../images/likepost_sprite.png) no-repeat;}
.likerepost_bkg{width:94px; background-position:-140px; height:30px;}
.md_like{background-position:-66px 2px; width:24px; margin:0px 0px 0px 18px; cursor:pointer; padding:5px;}
.md_repost{background-position:-106px 2px; width:19px; margin:1px 0px 0px 6px; cursor:pointer; padding:5px}
.md_edit{background-position:-240px 2px; width:19px; margin:1px 0px 0px 6px; cursor:pointer; padding:5px}

.md_like:hover,.md_liked{background-position:-28px 2px; width:24px; margin:0px 0px 0px 18px; cursor:pointer; padding:5px;}
.md_repost:hover{background-position:6px 2px; width:19px; margin:1px 0px 0px 6px; padding:5px}
.md_edit:hover{background-position:-269px 2px; width:19px; margin:1px 0px 0px 6px; padding:5px}
.close_div{position:absolute; background:#fff; border:3px solid rgba(0, 0, 0, 0.6); cursor: pointer;padding:0px 12px;background: #dedede; box-shadow:0 0 4px #666; text-shadow:0 1px 0 #fff;}
/**CSS for Board Detail (Hanging) in Modal Popup Ends**/

/* CSS for overlay widgets */
.div_bkg_inner{background-color:rgba(51, 51, 51, 0.4); width:100%; height:100%;}
.div_bkg1_inner{background:rgba(20,20,20,0.8);background:-webkit-linear-gradient(top, transparent, rgba(64,64,64, 0.9));background:-moz-linear-gradient(top, transparent, rgba(64,64,64, 0.9));background: -o-linear-gradient(top, transparent, rgba(64,64,64, 0.9));background: linear-gradient(top, transparent, rgba(64,64,64, 0.9)); filter:progid:DXImageTransform.Microsoft.gradient(endColorstr=#00000000, startColorstr=#99ffffff); width:100%; height:100%;cursor:pointer;}
.mr30{margin-right:30px}
.readmore{position:absolute; right:20px; bottom:45px; color:#fff; opacity:1}
.toptext{position:absolute; left:10px; top:4px; color:#fff; font-size:0.91em; opacity:1}
.olay_bkg{background:url(../images/olay_arr.png) no-repeat; position:absolute; left:0px; top:40%; z-index:150; opacity:1;cursor:pointer;}
.olay_arr{background-position:0px 0px; width:118px; height:45px;}
.olay_like{background-position:-117px 0px; width:44px; height:34px; top:0px; left:5px; cursor:pointer}
.olay_repost{background-position:-150px 0px; width:45px; height:29px; top:2px; left:4px; margin-left:49px; cursor:pointer}
.olay_bkg_ad{background:url(../images/approve_sprite.png) no-repeat; position:absolute; left:0px; top:40%; z-index:150; opacity:1;cursor:pointer;}
.olay_approve{background-position:-270px -2px; width:44px; height:34px; top:0px; left:5px;}
.olay_disapprove{background-position:-316px -2px; width:44px; height:34px; top:0px; left:5px;margin-left:49px}

.olay_approve:hover, .approved{background-position:-360px -1px; width:44px; height:34px; top:0px; left:5px;}
.olay_disapprove:hover, .disapproved{background-position:-406px -2px; width:44px; height:34px; top:0px; left:5px;margin-left:49px}
.olay_like:hover,.liked{background-position:-187px 0px; width:44px; height:34px; top:0px; left:5px;}
.o_repost_text_parent:hover .olay_repost, .olay_repost:hover,.reposted{background-position:-224px 0px; width:45px; height:29px; top:2px; left:4px; margin-left:49px;}

/* CSS for overlay widgets ends */

.detail_hd{font-size:2.2em; color:#666; font-weight:700; line-height:32px}
.modal_hd{font-size:1.6em;line-height:1.1em;}
.small_modal_hd {font-size:1.2em; color:#666; font-weight:700}
.fn_8f8f8f{font-size:.9em; color:#8f8f8f;}
.fn_e62c42{color:#e62c42;}
.fn_666{color:#666;}
.user_img{border:3px solid #fff; box-shadow:1px 2px 2px #555; padding:0px!important; margin-right:8px;}
.md_separator{height:1px; border-top:1px dotted #222; overflow:hidden;margin: 0px -20px;}

.md_content{color:#444; font-size:1.2em; line-height:22px;}
.md_gray_div{background:#e5e7e6; border:1px solid #e0e0e0; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; height:31px;padding: 12px 0 0 12px; box-shadow:inset 1px 1px 0 #fff;}
.user_icon{border:2px solid #e6e8e7; margin-right:13.5px;}
.gray_textarea{background:#e6e8e7;font-size:1em;width:528px;padding:10px;position:relative; border:1px solid #d9dada; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; min-height:47px; height:100%}
.md_textarea{background:#fff; border:1px solid #d0d0d0;box-shadow:inset 1px 2px 4px 1px #d0d0d0; border-radius:5px; width:538px; min-height:55px; height:100%;padding:5px;}
.wh_r8{width:58px; height:58px;overflow:hidden;margin:0 8px 8px 0px;border:2px solid #e6e8e7;}
.related_post .wh_r8{border:2px solid #fff;}
.dgray_lt_arrow{background-position:0px -71px; width:22px; height:23px; position:absolute; top:20px; left:61px}
.gray_lt_arrow{background-position:-5px -95px; width:17px; height:20px; position:absolute; top:20px; left:60px;z-index:1;}
/* changes end for new single page */
/*Board Sprite*/
.board_sprite{background:url(../images/board_sprite.png) no-repeat;}

/* changes end for new single page */

.date_overlay{background: -webkit-linear-gradient(top, transparent, rgba(64,64,64,0.7));background: -moz-linear-gradient(top, transparent, rgba(64,64,64,0.7));font-size:10px;width: 210px;color:#fff;position:absolute;bottom:8px;left:5px;padding: 5px;text-align:right;}


.rounded_dropdown{cursor:pointer;
background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f2efef));
background-image:-webkit-linear-gradient(top, #fff, #f2efef);
background-image:-moz-linear-gradient(top, #fff, #f2efef);
background-image:-ms-linear-gradient(top, #fff, #f2efef);
background-image: -o-linear-gradient(top, #fff, #f2efef);
background-image: linear-gradient(top, #fff, #f2efef);
border: 1px solid #aeaeae; outline:4px solid #f4f4f4;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;-webkit-box-shadow:inset 0 -1px 0 0 #fff;-moz-box-shadow: inset 0 -1px 0 0 #fff;-ms-box-shadow: inset 0 -1px 0 0 #fff;-o-box-shadow: inset 0 -1px 0 0 #fff;box-shadow:inset 0 -1px 0 0 #fff;color:#888;padding:0px; height:32px;text-align: left;text-shadow: 0 -1px 0px #fff;background-color:#f2efef; width:320px; position:relative;float:left;}
.rounded_dropdown:hover{
background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2efef), color-stop(100%, #fff));
background-image:-webkit-linear-gradient(top, #f2efef, #fff);
background-image:-moz-linear-gradient(top, #f2efef, #fff);
background-image:-ms-linear-gradient(top, #f2efef, #fff);
background-image: -o-linear-gradient(top, #f2efef, #fff);
background-image: linear-gradient(top, #f2efef, #fff);-webkit-box-shadow:inset 0 1px 0 0 #fff;-moz-box-shadow: inset 0 1px 0 0 #fff;-ms-box-shadow: inset 0 1px 0 0 #fff;-o-box-shadow: inset 0 1px 0 0 #fff;box-shadow:inset 0 1px 0 0 #fff;
}
a.selected_board{color: #222;}
.downarrow{background:url(../images/p_arw.gif) no-repeat top left;position:absolute; right:10px; top:15px; width:22px; height:11px;}
.boardlist{width:100%; border:1px solid #e1e1e1; border-radius:5px 5px 5px 5px; -webkit-border-radius:5px 5px 5px 5px; -o-border-radius:5px 5px 5px 5px; -moz-border-radius:5px 5px 5px 5px; box-shadow:0px 0px 6px #e7e7e7; -webkit-box-shadow:0px 0px 6px #e7e7e7; -o-box-shadow:0px 0px 6px #e7e7e7; -moz-box-shadow:0px 0px 6px #e7e7e7; background:#fff; position:absolute; top:-77px;}
.boardlist ul{margin:0px; padding:0px}
.boardlist ul li{ position: relative; display: block; margin: 0; padding: 6px 0px 6px 10px; list-style: none;line-height: 1.15em;
color: #222; cursor: pointer; text-decoration:none;}
.boardlist ul li a{color: #222; cursor: pointer; text-decoration:none;}
.boardlist ul li:first-child:hover{ position: relative; display: block; margin: 0; list-style: none;line-height: 1.15em;
color: #222; cursor: pointer; border-radius:5px 5px 0 0; background:#f8f8f8;}
.boardlist ul li:hover{ position: relative; display: block; margin: 0; list-style: none;line-height: 1.15em;
color: #222; cursor: pointer; background:#f8f8f8;}
.createboard{background:#f4f4f4; border-top:1px solid #d3d3d3; border-radius:0px 0px 5px 5px; padding:10px}
.createboard .textbox{display: inline-block; box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-box-sizing: border-box;  width: 96%; margin: 0 6px 0 0; font-size: 1em; border: 1px solid #d3d3d3; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; box-shadow: inset 0 1px rgba(34, 25, 25, 0.15), 0 1px rgba(255, 255, 255, 0.8); -moz-box-shadow: inset 0 1px rgba(34,25,25,0.15), 0 1px rgba(255,255,255,0.8); -webkit-box-shadow: inset 0 1px rgba(34, 25, 25, 0.15), 0 1px rgba(255, 255, 255, 0.8); -webkit-transition: all 0.08s ease-in-out; -moz-transition: all 0.08s ease-in-out; line-height: 1em; color: #222; background: #f9f9f9; text-indent:0px; padding:2px 4px;
}
.createboard .button{background-color: #F0EDED;background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FDFAFB), to(#F0EDED), color-stop(.5,#F9F7F7),color-stop(.5,#F6F3F4));background-image: -moz-linear-gradient(top, #FDFAFB, #F9F7F7 50%, #F6F3F4 50%, #F0EDED);background-image: -o-linear-gradient(top, #FDFAFB, #F9F7F7 50%, #F6F3F4 50%, #F0EDED);background-image: -webkit-linear-gradient(top, #FDFAFB, #F9F7F7 50%, #F6F3F4 50%, #F0EDED);color: #524D4D;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfafb', endColorstr='#f0eded');text-shadow: 0 1px rgba(255, 255, 255, 0.9);-webkit-border-radius: 6px;border-radius: 6px;font-size: 1.1em;border: 1px solid #d3d3d3;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;-moz-box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35);-webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.8), inset 0 1px rgba(255, 255, 255, 0.35);box-shadow: 0 1px rgba(255, 255, 255, 0.8), inset 0 1px rgba(255, 255, 255, 0.35);cursor: pointer;display: inline-block;font-family: "helvetica neue",arial,sans-serif;font-weight: bold;line-height: 1em; margin: 0; padding: 6px 10px; text-align: center; -moz-transition: all .05s ease-in-out; -o-transition: all .05s ease-in-out; -webkit-transition: all .05s ease-in-out;
}
.edit_board_img{background-position:0px 0px; width:15px; height:16px; margin:0 3px; cursor:pointer}
.delete_board_img{background-position:-28px 0px; width:11px; height:13px; margin:0 3px; cursor:pointer}
.hide_board_img{background-position:-107px 0px; width:18px; height:16px; margin:0 3px; cursor:pointer}
.unhide_board_img{background-position:-164px 0px; width:18px; height:18px; margin:0 3px; cursor:pointer}
.camera_edit{height:124px; width:124px; position:absolute; top:17px; left:80px; background-position:0px -25px; cursor:pointer}
.camera_edit:hover ,.camera_sel{height:124px; width:124px; position:absolute; top:17px; left:80px; background-position:-137px -25px; cursor:pointer}

.edit_board_img:hover{background-position:-53px 0px;}
.delete_board_img:hover{background-position:-81px 0px;}
.hide_board_img:hover{background-position:-136px 0px;}
.unhide_board_img:hover{background-position:-193px 0px;}
.delete_board_red{background-position:-81px 0px; width:11px; height:13px; margin:0 4px; cursor:pointer; position:absolute; top:3px; right:3px}
.btn_save_fade{background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));background-image:-webkit-linear-gradient(top, #ffffff, #f5f5f5);background-image:-moz-linear-gradient(top, #ffffff, #f5f5f5);background-image:-ms-linear-gradient(top, #ffffff, #f5f5f5);background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);background-image: linear-gradient(top, #ffffff, #f5f5f5);border:1px solid #f5f5f5;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;color:#E62C42;font-size:1.3em;text-align: center;font-weight:700;background-color:#f5f5f5; font-weight:700; box-shadow:0 1px 1px 1px #ccc; padding:27px 8px; cursor:pointer}
.btn_save_fade:hover{background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #ffffff));background-image:-webkit-linear-gradient(top, #f5f5f5, #ffffff);background-image:-moz-linear-gradient(top, #f5f5f5, #ffffff);background-image:-ms-linear-gradient(top, #f5f5f5, #ffffff);background-image: -o-linear-gradient(top, #f5f5f5, #ffffff);background-image: linear-gradient(top, #f5f5f5, #ffffff);border:1px solid #f5f5f5;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;color:#E62C42;font-size:1.3em;text-align: center;font-weight:700;background-color:#f5f5f5; font-weight:700; box-shadow:0 1px 1px 1px #ccc; padding:27px 8px; cursor:pointer}
.mt10l20{ margin:10px 0 0 20px;}

/**Wizard Third Step**/
.small_div_box{-webkit-box-shadow:0 -1px 2px #eee;-moz-box-shadow:0 -1px 2px #eee;-ms-box-shadow:0 -1px 2px #eee;-o-box-shadow:0 -1px 2px #eee; box-shadow:0 -1px 2px #eee; width:240px; margin:0 20px 20px 0; background:#ffffff; border:1px solid #d6d5d5; position:relative}
.small_img_div_height{height:137px; position:relative}
.small_img_div_height1{height:95px; position:relative}
.img_div_height_less{height:226px; position:relative}
.board_textbox_small{height:22px;-webkit-box-shadow: inset 2px 2px 6px -1px #ccc;-moz-box-shadow: inset 2px 2px 6px -1px #ccc;-ms-box-shadow: inset 2px 2px 6px -1px #ccc;-o-box-shadow: inset 2px 2px 6px -1px #ccc;box-shadow: inset 2px 2px 6px -1px #ccc; border-radius:4px; width:146px; border:1px solid #ccc; padding:0px 4px;}
.board_select_small{height:22px;-webkit-box-shadow: inset 2px 2px 6px -1px #ccc;-moz-box-shadow: inset 2px 2px 6px -1px #ccc;-ms-box-shadow: inset 2px 2px 6px -1px #ccc;-o-box-shadow: inset 2px 2px 6px -1px #ccc;box-shadow: inset 2px 2px 6px -1px #ccc; border-radius:4px; width:156px; border:1px solid #ccc; padding:0px 4px;}
.small_desc_bkg, .small_desc_bkg_less{background-color: #f8f8f8;background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #ffffff));background-image: -webkit-linear-gradient(top, #ffffff, #f6f6f6);background-image: -moz-linear-gradient(top, #ffffff, #f6f6f6);background-image: -ms-linear-gradient(top, #ffffff, #f6f6f6);background-image: -o-linear-gradient(top, #ffffff, #f6f6f6);background-image: linear-gradient(top, #ffffff, #f6f6f6);-webkit-box-shadow: inset 0 -2px 2px 0 #e4e4e4;-moz-box-shadow: inset 0 -2px 2px 0 #e4e4e4;-ms-box-shadow: inset 0 -2px 2px 0 #e4e4e4;-o-box-shadow:  inset 0 -2px 2px 0 #e4e4e4;box-shadow: inset 0px -2px 2px 0 #e4e4e4; width:240px;}
.small_desc_bkg_less{position:absolute; top:148px;}
.plus_sprite{background:url(../images/plus_sprite.png) no-repeat;}
.plus_edit{height:124px; width:124px; position:absolute; top:14px; left:53px; background-position:0px 0px; cursor:pointer}
.plus_edit:hover{height:124px; width:124px; position:absolute; top:14px; left:53px; background-position:-124px 0px; cursor:pointer}
.plus_edit_small{height:75px; width:75px; position:absolute; top:30px; left:7px; background-position:-254px 3px; cursor:pointer}
.plus_edit_small:hover{height:75px; width:75px; position:absolute; top:30px; left:7px; background-position:-334px 3px; cursor:pointer}
.small_img_div_height1 ul{padding:0px; margin:0px;}
/*.small_img_div_height1 ul li{list-style-type:none; margin:1px 0}*/

.w150{width:150px}
.ml180{margin-left:180px}
.steps_line_n{background:url(../images/steps_line.png) repeat-x left 14px; height:40px; width:882px}
.pt7{padding-top:7px;}
/** Newly added for Step 3 **/
.gray_btm{border-bottom:1px solid #dfdfdf; margin:8px 18px 8px 0; line-height:1px}
.padding15{padding:15px;}
.pt6{padding-top:6px;}
.o_repost_text{width: 68px;background: white;height: 34px;position: absolute;line-height: 34px;padding: 0 0 0 8px;color: #e62c42;font-size: 17px;text-shadow: 0px 1px 1px #9d9d9d;}
/*.mar_widget{margin-right:25px !important;}*/
.ml20{ margin-left:20px;}
/*New Detail Page CSS Starts*/
.left_slider{margin-top:154px; left:-44px; width:255px; cursor:pointer}
.left_slider .content{background-color:#d3d3d3; width:205px; height:62px; padding:5px; opacity:0.5}
.left_slider .content .text{font-weight: 700; line-height: 1.4em; font-size: .9em;}
.left_slider .content .gy_text{line-height: 1em; font-size: .9em; color:#666}
.left_slider:hover .content{opacity:1;}
.right_slider{margin-top:168px; left:-17px; width:255px; cursor:pointer}
.right_slider .content{background-color:#d3d3d3; width:205px; height:62px; padding:5px; opacity:0.5}
.right_slider .content .text{font-weight: 700; line-height: 1.4em; font-size: .9em;}
.right_slider .content .gy_text{line-height: 1em; font-size: .9em; color:#666}
.right_slider:hover .content{opacity:1;}
/*For Slider Arrow*/

.l_arr{background-position:-359px -59px; width:37px; height:82px; margin-top:-8px; cursor:pointer}
.r_arr{background-position:-228px -59px; width:37px; height:82px; cursor:pointer; margin-top:-8px}
.left_slider:hover .l_arr{background-position:-498px -59px; width:37px; margin-top:-8px; height:82px;}
.right_slider:hover .r_arr{background-position:-89px -57px; width:37px; height:82px; margin-top:-8px;}
/*Steps CSS*/
.steps_sprite{background:url(../images/steps_sprite.png);}
.left_not_selected{background-position:0px 0px; height:29px; width:39px; padding:11px 0px 0px; font-weight:700; text-align:center; color:#000; text-shadow:0 1px 0 #989898;}
.left_selected{background-position:-160px 40px; height:29px; width:39px; padding:11px 0px 0px; font-weight:700; text-align:center; color:#fff; text-shadow:0 1px 0 #000;}
.center_not_selected{background-position:-61px 0px; height:29px; width:38px; padding:11px 0px 0px; font-weight:700; text-align:center; color:#000; text-shadow:0 1px 0 #989898;}
.center_selected{background-position:-61px 40px; height:29px; width:38px; padding:11px 0px 0px; font-weight:700; text-align:center; color:#fff; text-shadow:0 1px 0 #000;}
.right_not_selected{background-position:39px 0px; height:29px; width:39px; padding:11px 0px 0px; font-weight:700; text-align:center; color:#000; text-shadow:0 1px 0 #989898;}
.right_selected{background-position:39px 40px; height:29px; width:39px; padding:11px 0px 0px; font-weight:700; text-align:center; color:#fff; text-shadow:0 1px 0 #000;}
/*Steps CSS Ends*/

.arr_btn{background:url(../images/arr_btn.png) no-repeat top left; width:154px; height:28px; text-align:center; padding:3px 0px 0px 0px; text-shadow:0 1px 0 #fff}

.frame_view_container.frame-left {left: -100%;}
.frame_view_container {width: 100%;position: absolute;overflow: hidden;-webkit-transition: left 500ms cubic-bezier(0.645,0.045,0.355,1.000);-moz-transition: left 500ms cubic-bezier(0.645,0.045,0.355,1.000);-ms-transition: left 500ms cubic-bezier(0.645,0.045,0.355,1.000);transition: left 500ms cubic-bezier(0.645,0.045,0.355,1.000);}
.frame_view_container.frame-middle {left: 0;}
.frame_view_container.frame-right {left: 100%;}
.share_div{border:1px solid #c1c1c1; border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; background:#fff; width:84px; padding:4px 0px 7px 8px; box-shadow:0 0 4px #dbdbdb; -webkit-box-shadow:0 0 4px #dbdbdb; -o-box-shadow:0 0 4px #dbdbdb; -moz-box-shadow:0 0 4px #dbdbdb; -o-box-shadow:0 0 4px #dbdbdb; -ms-box-shadow:0 0 4px #dbdbdb}

.fb_on{background:url(../images/social_home.png) no-repeat 0 0; width:52px; height:19px; cursor:pointer}
.fb_off{background:url(../images/social_home.png) no-repeat 0px -22px; width:52px; height:19px; cursor:pointer}

.dropdown_separator{border-bottom: 1px dotted #3d3d3d; height: 0px;}
ul. menuDD{width:123px; right:62px;}
.action_title{font-size:1.3em; color:#fff; font-weight:700; padding:14px 0 0 0;}
.action_sprite{background:url(../images/action_sprite.png) no-repeat;}
.action_repost{background-position:-46px 0; width:33px; height:32px; cursor:pointer}
.action_like{background-position:0 0; width:32px; height:32px; cursor:pointer}
.action_close{background-position:-186px -40px; width:27px; height:30px; cursor:pointer;opacity:0.5;}
.bm_close{background-position:-196px -49px; width:12px; height:12px; cursor:pointer;opacity:0.5;z-index:4;}
.action_share{background-position:-228px -39px; width:33px; height:32px; cursor:pointer; transition:4s}
.action_edit{background-position:-229px 0; width:33px; height:32px; cursor:pointer}
.action_next{background-position:-1px -76px; width:32px; height:32px; cursor:pointer;}
.action_next_disabled{background-position:-47px -76px; width:32px; height:32px;}
.action_prev{background-position:0px -38px; width:32px; height:32px; cursor:pointer;}
.action_prev_disabled{background-position:-46px -38px; width:32px; height:32px;}
.action_left{background-position:-137px -113px; width:38px; height:38px;}
.action_right{background-position:-183px -113px; width:38px; height:38px;}

.repost_active, .action_repost:hover{background-position:-138px 0px; width:33px; height:38px;}
.like_active, .action_like:hover{background-position:-92px 0px; width:32px; height:38px;}
.action_close:hover, .bm_close:hover{opacity:1;}
.action_next:hover{background-position:-93px -76px; width:32px; height:32px;}
.action_prev:hover{background-position:-92px -38px; width:32px; height:32px;}
.action_share:hover{background-position:-183px -77px; width:33px; height:32px; cursor:pointer}
.action_edit:hover{background-position:-183px 0; width:33px; height:32px; cursor:pointer}

/*start styles for impromptu */
.jqifade{ position: absolute; background-color: #aaaaaa; }
div.jqi{ width: 400px; position: absolute; background-color: #ffffff; font-size: 11px; text-align: left; border: solid 1px #eeeeee; -moz-border-radius: 10px; -webkit-border-radius: 10px; padding: 7px; }
div.jqi .jqicontainer{ font-weight: bold; }
div.jqi .jqiclose{ position: absolute; top: 4px; right: -2px; width: 18px; cursor: default; color: #bbbbbb; font-weight: bold; }
div.jqi .jqimessage{ padding: 10px; line-height: 20px; color: #444444; }
div.jqi .jqibuttons{ text-align: right; padding: 5px 0 5px 0; border: solid 1px #eeeeee; background-color: #f4f4f4; }
div.jqi button{ padding: 3px 10px; margin: 0 10px; background-color: #2F6073; border: solid 1px #f4f4f4; color: #ffffff; font-weight: bold; font-size: 12px; cursor:pointer }
div.jqi button:hover{ background-color: #728A8C; cursor:pointer }
div.jqi button.jqidefaultbutton{ background-color: #BF5E26; }
.jqiwarning .jqi .jqibuttons{ background-color: #BF5E26; }
.jqi{top:40% !important;}
/*end styles for impromptu */

.link_2nd_nav{background:#e5e5e5; width:100%; box-shadow:0 2px 2px #ccc; position:relative; padding:12px 0;}

/**New CSS**/
.link_logo{background:url(../images/logo.png) no-repeat top left; width:108px; height:25px; padding:2px 2px 2px 30px;}
.link_user{border:1px solid #b7b7b7; border-radius:8px;}
.logo_sep{border-left:1px solid #ccc; width:1px; height:30px; padding:2px 20px 0 0;}
.w1200{width:1200px; margin:0px auto;}
.pt8{padding-top:8px;}
.quote_sprite{background:url(../images/quote.png) no-repeat; width:27px; height:21px; z-index:2}
.quote_lt{background-position:0 0;}
.quote_rt{background-position:-34px 0;}
.link_comment{margin:0px 21px 0 31px;}

/**Floost Link Detail top bar**/
.link_topbar{background:#f6f6f6;height:49px;overflow:visible; border-bottom:1px solid #d6d6d6; padding:16px 0 0 0; z-index:10}
.modal_close{background-position:0px -114px; width:32px; height:32px; cursor:pointer}
.tip_div{background-color:#f4f4f4; border:1px solid #ebebeb; border-radius:16px; -webkit-border-radius:16px; -o-border-radius:16px; -moz-border-radius:16px; padding:40px; width:550px; margin:0px auto; text-shadow:0 1px 0 #fff; -webkit-text-shadow:0 1px 0 #fff; -moz-text-shadow:0 1px 0 #fff; -o-text-shadow:0 1px 0 #fff;}

/*Added CSS for Link Detail Page**/
#slideItUp2{margin-bottom:19px;}
.link_details{box-shadow:0 2px 2px #ccc; height:auto; padding-bottom:5px; background:#f6f6f6;}
.link_details_left{width:58%;}
.user_comment{background:#fff; border:1px solid #e4e4e4; border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px; -moz-border-radius:10px; padding:8px;}
.link_image{border:0; box-shadow:0 0 6px #ccc;margin-top:2px;}
.lh20{line-height:20px}
.link_details_right{width:40%;}
.updiv{position:absolute;right:34px; bottom:-3px;z-index:10;}
.downdiv{visibility: hidden;top: 40px;z-index:10;right:34px;}

/*SignUp CSS*/
.login_logo{margin:14px auto;}
.separator1{background:url(../images/separator1.png) no-repeat center top; height:17px;}
.fb_connect{background-position:-267px 5px; width:240px; height:57px; cursor:pointer; display:inline-block}
.fb_connect:hover{background-position:-286px -466px; width:240px; height:57px;}
.tw_connect{background-position:4px 5px; width:240px; height:57px; cursor:pointer; display:inline-block}
.tw_connect:hover{background-position:-7px -466px; width:240px; height:57px;}
.fb_login{background-position:-286px -612px; width:240px; height:57px; cursor:pointer; display:inline-block}
.fb_login:hover{background-position:-286px -556px; width:240px; height:57px;}
.tw_login{background-position:-6px -612px; width:240px; height:57px; cursor:pointer; display:inline-block}
.tw_login:hover{background-position:-6px -556px; width:240px; height:57px;}
.or_bkg{background-position:0px -533px; width:294px; height:22px;}
.input_txt{width:200px; border:1px solid #a7a7a7; padding:8px 10px; box-shadow:inset 0 2px 2px rgba(100, 100, 100, 0.15), 0 1px white; -webkit-box-shadow:inset 0 2px 2px rgba(100, 100, 100, 0.15), 0 1px white; -o-box-shadow:inset 0 2px 2px rgba(100, 100, 100, 0.15), 0 1px white; -moz-box-shadow:inset 0 2px 2px rgba(100, 100, 100, 0.15), 0 1px white; -ms-box-shadow:inset 0 2px 2px rgba(100, 100, 100, 0.15), 0 1px white; border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px;z-index:3; background:transparent;-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}
.input_txt:focus, .input_txt_active{width:200px; border:1px solid #3ca1db; padding:8px 10px; box-shadow: 0 0 5px #7bc3ec; -webkit-box-shadow: 0 0 5px #7bc3ec; -o-box-shadow: 0 0 5px #7bc3ec; -moz-box-shadow: 0 0 5px #7bc3ec; -ms-box-shadow: 0 0 5px #7bc3ec; border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px;-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}
.input_txt:focus + .txt_label{color:rgba(130, 130, 130, 0.4)}
.input_txt_error{width:200px; border:1px solid #d62a27; padding:8px 10px; box-shadow:inset 0 2px 2px rgba(234, 184, 184, 0.15), 0 1px white; -webkit-box-shadow:inset 0 2px 2px rgba(234, 184, 184, 0.15), 0 1px white; -o-box-shadow:inset 0 2px 2px rgba(234, 184, 184, 0.15), 0 1px white; -moz-box-shadow:inset 0 2px 2px rgba(234, 184, 184, 0.15), 0 1px white; -ms-box-shadow:inset 0 2px 2px rgba(234, 184, 184, 0.15), 0 1px white; border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px;}
.bm_outer{width:782px; background:rgba(255, 255, 255, 0.15); box-shadow:0px 0px 0 1px rgba(255, 255, 255, 0.4); border:0; border-radius:10px; height:auto; padding:15px 0;}
.bm_inner{width:752px; background:#fff; border-radius:10px; height:auto; margin:0 auto; padding:0 0 15px 0}
.btn_red{cursor:pointer;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fd243e), color-stop(100%, #d71d2b));background-image:-webkit-linear-gradient(top, #fd243e, #d71d2b);background-image:-moz-linear-gradient(top, #fd243e, #d71d2b);background-image:-ms-linear-gradient(top, #fd243e, #d71d2b);background-image: -o-linear-gradient(top, #fd243e, #d71d2b);background-image: linear-gradient(top, #fd243e, #d71d2b);border:1px solid #a80030;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;-moz-box-shadow: inset 0 1px 0 0 #fe96a7;-ms-box-shadow: inset 0 1px 0 0 #fe96a7;-o-box-shadow: inset 0 1px 0 0 #fe96a7;color:#ffffff;padding:6px 20px;text-align: center;text-shadow: 0 -1px 0px #000;background-color:#FF446B;}
.btn_red:hover{box-shadow:inset 0 1px 0 0 #fe96a7, 0 1px 3px #888;}
.btn_gray{cursor:pointer;background-color: #cbc9c8 ;background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4e2e3), color-stop(100%, #cbc9ca)) ;background-image: -webkit-linear-gradient(top, #e3e1e1, #cbc9c8);background-image: -moz-linear-gradient(top, #e3e1e1, #cbc9c8);background-image: -ms-linear-gradient(top, #e3e1e1, #cbc9c8);background-image: -o-linear-gradient(top, #e3e1e1, #cbc9c8);background-image: linear-gradient(top, #e3e1e1, #cbc9c8);border: 1px solid #adadad ;color:#666;font-weight:normal; padding: 6px 20px;text-align: center ;-webkit-box-shadow: 0 1px 0 0 #fff inset;-moz-box-shadow: 0 1px 0 0 #fff inset;-o-box-shadow: 0 1px 0 0 #fff inset;box-shadow: 0 1px 0 0 #fff inset;text-shadow:0 1px 0px #FFF; border-radius:4px}
.btn_gray:hover{box-shadow: 0 1px 0 0 #fff inset, 0 1px 2px #9e9e9e;}
.footer_ln{background:#dadada; height:1px; overflow:hidden; border-bottom:1px solid #fff;}
.clr5{clear:both;height:5px;font-size:1px;overflow:hidden}
.txt_label{top:10px; left:11px;z-index:2}
.remember{vertical-align:text-top; height:13px; margin-top:0}
.remember:focus{outline: -webkit-focus-ring-color auto 5px;-moz-focus-ring-color auto 5px;-o-focus-ring-color auto 5px;focus-ring-color auto 5px;}
.txt_click .txt_label{font-size:0px; z-index:-1;}
.input_fff{position: absolute;z-index: 1;top: 2px;right: 0;left: 0;bottom: 0;background-color: white;-webkit-border-radius: 4px;width: 220px;height: 35px; -moz-border-radius: 4px; border-radius: 4px;}
.separator2{background:url(../images/separator2.png) no-repeat center top; height:17px;}
.error_msg{background:#ffdcd7; border:1px solid #ff0000; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; padding:10px; width:580px;}
.m0_auto{margin:0px auto;}
.note_yellow{background:lightYellow; border:1px solid #E6DB55; border-radius:8px; -webkit-border-radius:8px; -o-border-radius:8px; -moz-border-radius:8px; padding:12px}
.clr5{clear:both;height:5px;font-size:1px;overflow:hidden}
.wizard_h1{font-weight:normal;}
.suggestions{background-position:-3px -159px; height:18px; width:18px}
.suggestion_links{color:#333; text-decoration:none; cursor:pointer;}
.suggestion_links:hover .suggestions, .suggestion_active .suggestions{background-position:-27px -159px;}
.suggestion_links:hover, .suggestion_active{color:#1b8ccd;}
.wizard_h2{font-weight:normal;}
.pl5{padding-left:5px;}
.fnt24{font-size:2em;}
.category_outer{width:225px; height:275px; border:0px; border-radius:4px; background:#f7f7f7; border:1px solid #dadada}
.category_hd{background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #e6e6e6));background-image:-webkit-linear-gradient(top, #f4f4f4, #e6e6e6);background-image:-moz-linear-gradient(top, #f4f4f4, #e6e6e6);background-image:-ms-linear-gradient(top, #f4f4f4, #e6e6e6);background-image: -o-linear-gradient(top, #f4f4f4, #e6e6e6);background-image: linear-gradient(top, #f4f4f4, #e6e6e6); padding:4px 6px 4px 8px; border-radius:4px 4px 0 0; border-bottom:1px solid #ccc}
.btn_category{cursor:pointer; background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #e6e6e6));background-image:-webkit-linear-gradient(top, #f4f4f4, #e6e6e6);background-image:-moz-linear-gradient(top, #f4f4f4, #e6e6e6);background-image:-ms-linear-gradient(top, #f4f4f4, #e6e6e6);background-image: -o-linear-gradient(top, #f4f4f4, #e6e6e6);background-image: linear-gradient(top, #f4f4f4, #e6e6e6); padding:3px 6px;border: 1px solid #cccccc;-webkit-border-radius: 3px;-moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;border-radius: 3px;color:#666; padding: 4px 6px;text-align: center;-webkit-box-shadow: 0 1px 0 0 #fff inset, 0 1px 0 #fff;-moz-box-shadow: 0 1px 0 0 #fff inset, 0 1px 0 #fff;-o-box-shadow: 0 1px 0 0 #fff inset, 0 1px 0 #fff;box-shadow: 0 1px 0 0 #fff inset, 0 1px 0 #fff;text-shadow:0 1px 0px #FFF;}
.btn_category:hover{-webkit-box-shadow: 0 1px 0 0 #fff inset, 0 1px 0 #ccc;-moz-box-shadow: 0 1px 0 0 #fff inset, 0 1px 0 #ccc;-o-box-shadow: 0 1px 0 0 #fff inset, 0 1px 0 #ccc;box-shadow: 0 1px 0 0 #fff inset, 0 1px 0 #ccc;}
.category_txtbox{border:0px; width:205px; padding:10px; background:transparent; border-bottom:1px solid #e7e7e7; margin-bottom:0px;z-index:3;margin:0}
.category_txtbox:focus, .category_txtbox_active{border:0px; width:203px; padding:10px; background:transparent; border-bottom:1px solid #e7e7e7; margin-bottom:0px;z-index:3; border: 1px solid #3CA1DB;padding: 10px;box-shadow: 0 0 5px #7bc3ec;-webkit-box-shadow: 0 0 5px #7bc3ec;-o-box-shadow: 0 0 5px #7bc3ec;-moz-box-shadow: 0 0 5px #7bc3ec;-ms-box-shadow: 0 0 5px #7bc3ec;-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;margin:0}
.category_txtbox:focus + .txt_label{color:rgba(130, 130, 130, 0.4)}
.category_scr_div{height:198px; width:224px;text-transform: capitalize;word-break:break-word;}
.category_scr_div237{height:237px; width:224px;text-transform: capitalize;word-break:break-word;}
.category_links{line-height:31px; border-bottom:1px solid #ededed; box-shadow:0 1px 0 #fff; padding-left:12px}
.category_links:hover{background:#fbfbfb}
.category_links_active{color: #1B8CCD;}
.btn_blue{cursor:default; background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #1a99da), color-stop(100%, #0970c4));background-image:-webkit-linear-gradient(top, #1a99da, #0970c4);background-image:-moz-linear-gradient(top, #1a99da, #0970c4);background-image:-ms-linear-gradient(top, #1a99da, #0970c4);background-image: -o-linear-gradient(top, #1a99da, #0970c4);background-image: linear-gradient(top, #1a99da, #0970c4); padding:3px 6px;-webkit-border-radius: 3px;-moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;border-radius: 3px;color:#fff; padding: 4px 6px;text-align: center;-webkit-box-shadow: 0 1px 0 0 #fff inset, 0 1px 0 #fff;-moz-box-shadow: 0 1px 0 0 #fff inset, 0 1px 0 #fff;-o-box-shadow: 0 1px 0 0 #fff inset, 0 1px 0 #fff;box-shadow: 0 1px 0 0 #fff inset, 0 1px 0 #fff;text-shadow:0 1px 0px #333; background-color:#0970c4;}
/*End SignUp CSS*/
/*.scrollcontent1-content, .scrollcontent2-content, .scrollcontent3-content, .scrollcontent4-content { /* background: #eee; */ } /* for vertical content, no explicit width is required for inner DIV */
.scrollcontent1-bar, .scrollcontent2-bar, .scrollcontent3-bar, .scrollcontent4-bar { width: 8px; background: #e2e2e2; border-radius: 8px; box-shadow: inset 0px 0px 5px #c3c3c3; overflow: hidden; }
.scrollcontent1-drag, .scrollcontent2-drag, .scrollcontent3-drag, .scrollcontent4-drag { background: #949494; border-radius: 8px; cursor: pointer; }*/
.keyword_cross{color:#78c1ec; padding:2px;}
.keyword_cross:hover{color:#fff;}
.sel_keywords{padding:5px 0 0 5px;}
.board_outer{width:225px; min-height:275px; border:1px solid #e3e3e3; border-radius:4px; background:#eeeeee}
.board_outer ul{margin:0px; padding:0px;}
.board_outer ul li{width:225px; margin:0; padding:0; list-style-type:none; position:relative; margin-bottom:1px}
.board_outer ul li a{display:block; line-height:46px; height:46px; border-bottom:1px solid #e7e7e7; color:#333; padding-left:10px;list-style:none; box-shadow:0 1px 0 #fff; -webkit-box-shadow:0 1px 0 #fff; -moz-box-shadow:0 1px 0 #fff; -o-box-shadow:0 1px 0 #fff;}
.board_outer ul li:hover a, .board_outer .active{ background:url(../images/board_arr.png) no-repeat 0 0; width:242px; border:0px; box-shadow:none; line-height:46px; height:47px; }
.board_outer ul li:hover .b_edit_delete,  .board_outer .active + .b_edit_delete{display:block}
.scrollbar1 { width: 226px; margin: 0; }
.scrollbar1 .viewport { width: 210px; height: 198px; overflow: hidden; position: relative; }
.scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
.scrollbar1 .scrollbar{ background: transparent url(../images/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; }
.scrollbar1 .track { background: transparent url(../images/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
.scrollbar1 .thumb { background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
.scrollbar1 .thumb .end { background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
.scrollbar1 .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
/*End SignUp CSS*/

/*Tag page*/
.int_plus{background-position:-55px -159px; height:18px; width:18px}
.p0{padding:0 !important;}
.nav_2nd{ height:52px; width:100%;}
.nav_2nd ul{margin:0px; padding:17px;}
.nav_2nd ul li{margin:0px; padding:0 20px 0 0; display:inline;}
.nav_2nd ul li a{color:#666; text-decoration:none;}
.nav_2nd ul li a:hover{color:#666; text-decoration:none; font-weight:bold;}

/*Halloween winner css*/
.ghost_bkg{background:url(../images/halloween_bkg.jpg) repeat top left; width:100%; height:inherit;}
.image_shadow{border:5px solid #fff; box-shadow:0 0 4px #999;}
.editors_bkg{background:#fff; border-radius:0px 10px 10px 10px; -webkit-border-radius:0px 10px 10px 10px; -moz-border-radius:0px 10px 10px 10px; -o-border-radius:0px 10px 10px 10px; border:1px solid #ccc; box-shadow:-4px -4px 6px #aaa inset; -webkit-box-shadow:-4px -4px 6px #aaa inset; -moz-box-shadow:-4px -4px 6px #aaa inset; -o-box-shadow:-4px -4px 6px #aaa inset; padding:20px}
.editors_hd{background:#fff; border-radius:10px 10px  0 0; -webkit-border-radius:10px 10px  0 0; -moz-border-radius:10px 10px  0 0; -o-border-radius:10px 10px  0 0; border:1px solid #ccc; border-bottom:0px; box-shadow:-4px 4px 6px #aaa inset; -webkit-box-shadow:-4px 4px 6px #aaa inset; -moz-box-shadow:-4px 4px 6px #aaa inset; -o-box-shadow:-4px 4px 6px #aaa inset; padding:20px 0 5px 60px; width:230px; font-family:Georgia, "Times New Roman", Times, serif; font-weight:bold; font-size:22px; color:#a00000; margin-bottom:-2px}
.ml7{margin-left:7px}
/*Halloween winner css ends*/
/* autocomplete css */
.autocomplete-w1 { background:url(img/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:6px 0 0 6px; /* IE6 fix: */ _background:none; _margin:1px 0 0 0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; overflow:hidden; }
.autocomplete strong { font-weight:normal; color:#3399FF; }
/* autocomplete css ends */
.attention{background-position:-227px 0px; width:24px; height:20px; margin:0 0 5px 20px; display:inline-block}
.boardsWidget .hide_board_img:hover{background-position:-107px 0px;}
.boardsWidget .unhide_board_img:hover{background-position:-164px 0px;}
#squarebox{width:140px;height:140px;overflow:hidden;border:1px solid #ccc;}
#company_page .taglist{max-height:100px;height:100px;}