body{
    padding-top: 60px;
}

.preview img {
    max-height: 50px;
}
#menu{
    float:right;
    margin-top:2px;
}
#menu ul{
    list-style-type:none;
    font-size:17px;
}
#menu li{
    float:left;line-height:1px;
    margin:0 20px 20px 0;
    color:#b7c4be;
}