/*BODY {
   
    background-image: -ms-radial-gradient(center top, ellipse farthest-side, #FFFFFF 0%, #1AB6EF 100%);

   
    background-image: -moz-radial-gradient(center top, ellipse farthest-side, #FFFFFF 0%, #1AB6EF 100%);

   
    background-image: -o-radial-gradient(center top, ellipse farthest-side, #FFFFFF 0%, #1AB6EF 100%);

   
    background-image: -webkit-gradient(radial, center top, 0, center top, 425, color-stop(0, #FFFFFF), color-stop(1, #1AB6EF));

   
    background-image: -webkit-radial-gradient(center top, ellipse farthest-side, #FFFFFF 0%, #1AB6EF 100%);

   
    background-image: radial-gradient(ellipse farthest-side at center top, #FFFFFF 0%, #1AB6EF 100%);
}*/


