/*
Author			:	Rajendra Prasad A
URL				:	http://behance.net/madebyraj
Company Name	:	DoozyPixels
Company URL		: 	http://www.doozypixels.com
Theme			: 	Red

*** COLOR GUIDANCE ***
Just  replace the coresponding theme values to your own theme color

Red Color		:	#2c3e50; 
Classes			:	{ body:border,#header a:background, .btn-success: background-color, .featureicon, .footericon }

Dark Red Color	:	#1036AC;
Classes			:	{ #header a:box-shadow , a:text-shadow and i:color,.btn-success: background-gradient, .footericon a:hover:color }

Gray Color		:	#525252;
Clases			:	{ body:color, #catchcontent h2 and p, }
*/
body{ color:#525252; border-top:solid 5px #2c3e50; background:#fff url(../img/pattern1.png);}
/*** HEADER CONTENT ****/
#header{margin-top:45px; margin-bottom:60px; text-align:center;}
/*#header a{ display:block; width:129px; height:131px; background:url(../img/logo.png) no-repeat center; text-indent:-9999px; margin:0 auto;}
*/
#header a{
	width:130px; height:70px; display:block; background:#2c3e50; margin:0 auto; color:#fff;padding:30px 0;
	-webkit-border-radius: 70px;
	border-radius: 70px;
	-moz-border-radius:70px;
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;	
	-webkit-box-shadow: 0px 2px 0px 0px #1036AC;
	-moz-box-shadow: 0px 2px 0px 0px #1036AC;
    box-shadow: 0px 2px 0px 0px #1036AC;
	text-shadow: 0px 1px #1036AC;
	font-family: 'Droid Sans', serif; font-weight: 700;
	 

}
#header a:hover{ text-decoration:none;}
#header a i{color:#1036AC; font-size:18px; line-height:28px; padding:0 5px; *padding:0 0px;	
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	text-shadow: rgba(0,0,0,0.9) -1px -1px 0px;
	
	}
#header a span#it{ display:block; font-size:22px; border-bottom:solid 1px rgba(0, 0, 0, 0.5); margin:0 18px;}
#header a span#beta{ display:block; font-size:36px; border-top:solid 1px rgba(255, 255, 255, 0.4); margin:0 18px; }

/*** CATCHY CONTENT ****/
#catchycontent{ text-align:center;}
#catchycontent h2{ font-size:30px; font-family: 'Droid Serif', serif; font-weight: 400; margin-bottom:30px; }
#catchycontent p{ font-size:16px; font-family: 'Droid Serif', serif; line-height:26px; font-weight:400; font-style:italic;}

/*** SUBSCRIBE ****/
#subscribe{text-align:center; margin-top:40px;}
.input-large{ padding:9px 14px; }
.btn-success {
  background-color: #2c3e50;
  *background-color: #2c3e50;
  background-image: -ms-linear-gradient(top, #2c3e50, #1036AC);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2c3e50), to(#1036AC));
  background-image: -webkit-linear-gradient(top, #2c3e50, #1036AC);
  background-image: -o-linear-gradient(top, #2c3e50, #1036AC);
  background-image: -moz-linear-gradient(top, #2c3e50, #1036AC);
  background-image: linear-gradient(top, #2c3e50, #1036AC);
  background-repeat: repeat-x;
  border-color: #1036AC #1036AC #1036AC;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#2c3e50', endColorstr='#1036AC', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);  
   
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #1036AC;
  *background-color: #1036AC;
}
.btn-success:active,
.btn-success.active {
  background-color: #1036AC \9;
}
.btn-large {
  padding: 9px 20px;
  font-size: 16px;
  line-height: normal;
  font-weight:700;font-family: 'Droid Serif', serif; font-style:italic;
  margin-left:10px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
		          
}
input:focus,
textarea:focus {
  border-color: rgba(82, 82, 82, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 82, 82, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 82, 82, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 82, 82, 0.6);
		  
}

/*** FEATURES ****/
#features{margin-top:40px; text-align:center; }
#features .divider{background:url(../img/divider.png) repeat-y right;}
.featureicon{ color:#2c3e50; font-size:56px; margin-bottom:20px; padding:0 20px 0 0;}
#features h3{ font-size:20px; font-family: 'Droid Sans', serif; line-height:30px; font-weight:700; padding:0 20px 0 0;}
#features p{font-size:13px; font-family: 'Droid Sans', serif; line-height:20px; font-weight:400;padding:10px 20px 0 0;}
.divider{background:url(../img/divider.png) repeat-y right;}

/*** FOOTER ****/
#footer{margin-top:20px; text-align:center; background:url(../img/footer-divider.png) repeat-x top; padding-top:40px;}
#footer h4{ margin:0 0 20px;font-size:14px; font-family: 'Droid Serif', serif; line-height:24px; font-weight:400;}
.footericon{ color:#2c3e50; font-size:36px; margin-bottom:15px;}
.footericon a{ color:#2c3e50;}
.footericon a:hover{ color:#1036AC; text-decoration:none;}
#footer p{ font-size:10px; font-family: 'Droid Serif', serif;font-weight:400;}


/*** MEDIA QUERIES ****/
@media (max-width: 767px) {
    .btn-large{margin-top:20px;  margin-left:0px;}
	.input-large{padding:18px 14px;}	
	#features{ margin-top:20px;text-align: left;}
	.featureicon,#features h3,#features p{ padding:0;}
	.featureicon{ float:left; margin-right:10px;}
	#features h3{ float:left;}
	#features p{display:block; clear:both;}
	#features .divider{background:url(../img/footer-divider.png) repeat-x bottom; padding-bottom:15px; margin-bottom:10px;}
	#footer{margin-top:0px;
	  
}


