#first{
    width: 240px;
    height: 118px;
    border: 1px solid #999; color: #333;
    border-radius: 60px;
    background: url(/static/img/1.png);
    -webkit-box-shadow:0 0px 6px rgba(0, 0, 0, 0.8);
                box-shadow:0 0px 6px rgba(0, 0, 0, 0.4);
}

#second-1{
    position: relative;
    left: 250px;
    top: 60px;
    width: 160px;
    height: 39px;
    background: url(/static/img/arr.png);
}
#second-2{
    position: relative;
    top:20px;
    left: 250px;
    width: 160px;
        height: 39px;
    background: url(/static/img/arr.png);
}
#second-3{
    position: relative;
    top:-20px;
    left: 250px;
    width: 160px;
    height: 39px;
    background: url(/static/img/arr.png);

}
.second{
    opacity: 0;
}

#third-1{
    width: 80px;
    height: 80px;
    background: url(/static/img/fb.png);
    border: 1px solid #999; color: #333;
    border-radius: 60px;
    -webkit-box-shadow:0 0px 6px rgba(0, 0, 0, 0.8);
                box-shadow:0 0px 6px rgba(0, 0, 0, 0.4);
}
#third-2{
    width: 80px;
    height: 80px;
    background: url(/static/img/twitter.png);
    border: 1px solid #999; color: #333;
    border-radius: 60px;
    -webkit-box-shadow:0 0px 6px rgba(0, 0, 0, 0.8);
                box-shadow:0 0px 6px rgba(0, 0, 0, 0.4);
}
#third-3{
    width: 80px;
    height: 80px;
    background: url(/static/img/foursquare.png);
    border: 1px solid #999; color: #333;
    border-radius: 60px;
    -webkit-box-shadow:0 0px 6px rgba(0, 0, 0, 0.8);
                box-shadow:0 0px 6px rgba(0, 0, 0, 0.4);
}
.third{
    opacity: 1;
}

#fourth{
    opacity: 0;
    position: relative;
    left: 420px;
    top: -370px;
    width: 170px;
    height: 147px;
    background: url(/static/img/form.PNG);
    border: 1px solid #999; color: #333;
    border-radius: 20px;
    -webkit-box-shadow:0 0px 6px rgba(0, 0, 0, 0.8);
                box-shadow:0 0px 6px rgba(0, 0, 0, 0.4);
}

#fifth{
     position: relative;
     top: -454px;
     left: 530px;
     width: 160px;
     height: 39px;
     background: url(/static/img/arr.png);
     opacity:0;
}

#sixth{
     position: relative;
     top: -554px;
     left: 700px;
     width: 150px;
     height: 150px;
     background: url(/static/img/search-1.png);
     opacity:0;
}

#seventh{
     position: relative;
     top: -642px;
     left: 820px;
     width: 160px;
     height: 39px;
     background: url(/static/img/arr.png);
     opacity:0;
}

#eighth-1{
    width: 120px;
    height: 112px;
    background: url(/static/img/d.png);
    border: 1px solid #999; color: #333;
    border-radius: 60px;
    -webkit-box-shadow:0 0px 6px rgba(0, 0, 0, 0.8);
                box-shadow:0 0px 6px rgba(0, 0, 0, 0.4);

}

#eighth-2{
    width: 112px;
    height: 119px;
    background: url(/static/img/s.png);
    border: 1px solid #999; color: #333;
    border-radius: 60px;
    -webkit-box-shadow:0 0px 6px rgba(0, 0, 0, 0.8);
                box-shadow:0 0px 6px rgba(0, 0, 0, 0.4);

}

#eighth-3{
    width: 100px;
    height: 100px;
    background: url(/static/img/v.png) no-repeat;
    border: 1px solid #999; color: #333;
    border-radius: 60px;
    -webkit-box-shadow:0 0px 6px rgba(0, 0, 0, 0.8);
                box-shadow:0 0px 6px rgba(0, 0, 0, 0.4);

}

#eighth-4{
    width: 104px;
    height: 101px;
    background: url(/static/img/f.png) no-repeat;
    border: 1px solid #999; color: #333;
    border-radius: 60px;
    -webkit-box-shadow:0 0px 6px rgba(0, 0, 0, 0.8);
                box-shadow:0 0px 6px rgba(0, 0, 0, 0.4);

}

.eighth{
opacity:1;
}

#first-text{
    position: relative;
    top: -950px;
    left: 10px;
    opacity: 0;
}

#second-text{
    position: relative;
    top: -1010px;
    left: 320px;
    opacity: 0;
}

#second-2-text{
    position: relative;
    top: -1010px;
    left: 320px;
    opacity: 0;
}

#third-text{
    position: relative;
    top: -1090px;
    left: 700px;
    opacity: 0;
}

#saurav{
    width: 100px;
    height: 89px;
    border: 1px solid #999; color: #333;
    border-radius: 60px;
    background: url(/static/img/saurav.jpg);
    -webkit-box-shadow:0 0px 6px rgba(0, 0, 0, 0.8);
                box-shadow:0 0px 6px rgba(0, 0, 0, 0.4);
}

#neha{
    width: 100px;
    height: 100px;
    border: 1px solid #999; color: #333;
    border-radius: 60px;
    background: url(/static/img/neha.jpg);
    -webkit-box-shadow:0 0px 6px rgba(0, 0, 0, 0.8);
                box-shadow:0 0px 6px rgba(0, 0, 0, 0.4);
}

#dasa{
    width: 100px;
    height: 100px;
    border: 1px solid #999; color: #333;
    border-radius: 60px;
    background: url(/static/img/dasa.jpg);
    -webkit-box-shadow:0 0px 6px rgba(0, 0, 0, 0.8);
                box-shadow:0 0px 6px rgba(0, 0, 0, 0.4);
}

#back404 { 
    background: url(/static/img/404.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 700px;
}