@charset "utf-8";
body {
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
	color: #000000;
	font-family: "Century Gothic";
}

.auth a{
	color:#FFFFFF;
	float:right;
	overflow:hidden;
	display:block;
	position:relative;
	right:45px;
	top: -42px;
	
}

a img {
	border: none;
}

a {
	color:#3399FF;
	text-decoration: none; 
}

a  {
	color: #4E5869;
	text-decoration: none;
}
a:hover, a:active, a:focus {
	text-decoration: none;
}

.container {
	background-color: #FFF;
}

.header {
	background-color: #D6D6D6;
	color : #FFF;
	height: 3%;
	font-family: "Century Gothic";
	background-image: url(Images/banner-background.png);
	background-size: cover;
	min-height: 50px;
	background-position:left center;
}

.header-popup {
	background-color: #D6D6D6;
	color : #FFF;
	height: 3%;
	font-family: "Century Gothic";
	background-image: url(Images/banner-background.png);
	background-size: cover;
	min-height: 30px;
	background-position:left center;
}
#wrapper-gallery-assign
{
	width:85%;
	min-width:800px;
	float:left;
	position:absolute;
	left:225px;
}
.content {
	/* padding: 10px 0;
	position:relative;
	width: 80%; */
	height: auto !important;
}

.sidebar{
	min-width:200px;
	margin:0 5px 0 5px;
	padding:10px;
	position:relative;
	float:left;
	
}

h2{
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	overflow-x: hidden;
	white-space: nowrap;
}

.subheader_sidebar{
	width:180px;
	background-color: #00a3ff;
	border: solid 1px #33CCFF; 
	border-radius: 6px;
}

.subheader{
	width:380px;
	background-color: #00a3ff;
	padding:0px 0px 0px 10px;
	border-radius: 6px;
	border: solid 1px #33CCFF; 
}

.seperator_sidebar{
	width:180px;
	border-bottom: solid 1px #00a3ff;
	display: block;
}

.seperator{
	width:880px;
	border-bottom: solid 1px #00a3ff;
}

.divider{
	position:relative;
	left:-30px;
	width:3px;
	min-height:1000px;
	background-color: #464646;
	float:left;
}


.footer {
	background-color: #161616;
	position: relative;
	min-width: 100%;
	font-family: "Century Gothic";
	background-image: url(Images/footerBackground.png);
}

#cerate-user-ovverlay {

/* overlay is hidden before loading */
display:none;

/* standard decorations */
width:400px;
border:10px solid #666;

/* for modern browsers use semi-transparent color on the border. nice! */
border:10px solid rgba(82, 82, 82, 0.698);

/* hot CSS3 features for mozilla and webkit-based browsers (rounded borders) */
-moz-border-radius:8px;
-webkit-border-radius:8px;
}

#cerate-user-ovverlay div {
padding:10px;
border:1px solid #3B5998;
background-color:#fff;
font-family:"lucida grande",tahoma,verdana,arial,sans-serif
}

#cerate-user-ovverlay h2 {
margin:-11px;
margin-bottom:0px;
color:#fff;
background-color:#6D84B4;
padding:5px 10px;
border:1px solid #3B5998;
font-size:20px;
}

div.ui-datepicker{
 font-size:10px;
}

#gallery {
	background-color: #FFF;
	padding: 10px;
	width: 95%;
}
#gallery ul { list-style: none; }
#gallery ul li { display: inline; }
#gallery ul img {
	border: 5px solid #3e3e3e;
	border-width: 5px 5px 20px;
}
#gallery ul a:hover img {
	border: 5px solid #fff;
	border-width: 5px 5px 20px;
	color: #fff;
}
#gallery ul a:hover { color: #fff; }
.ui-helper-hidden-accessible{
	display: none;
}
.action-success{
	color: #9acd32;
}

.modal {
    background-color:#fff;
    display:none;
    width:350px;
    padding:15px;
    text-align:left;
    border:2px solid #333;

    opacity:0.8;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
}

.left {
    float:left;
}
.rounded {
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.wrap {
    position:relative;
    padding:5px 6px 6px 7px; /* readjust in jsfiddle*/
    background:#f0f0f0;
    border:1px solid #ccc;
    overflow:hidden;
}

.wrap1 {
    position:relative;
    padding:5px 6px 6px 7px; /* readjust in jsfiddle*/
    background:#f0f0f0;
    border:1px solid #ccc;
    overflow:hidden;
}

.seach-form{
	max-height:30px;
	min-width:550px;
}

.search {
	width:460px;
    position:relative; top:2px; /* readujst in jsfiddle */
    padding:8px 5px 8px 30px;
    border:1px solid #ccc;
    background:white url(http://i.imgur.com/lFkqn.png) left center no-repeat;
}

#id_q{
	float:left;
	width:460px;
    position:relative; top:2px; /* readujst in jsfiddle */
    padding:8px 5px 8px 30px;
    border:1px solid #ccc;
    background:white url(http://i.imgur.com/lFkqn.png) left center no-repeat;
	-webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

.go {
    position:relative; top:0;
	width: 120px;
    padding:3px 5px 2px;
    margin-left:8px;
    border:none;
    background: -webkit-gradient(linear, left top, left bottom, from(#0099ff), to(#006699));
    background: -moz-linear-gradient(top,  #0099ff,  #006699);
	left:160px;
}

.go span {
    display:block;
    width:64px; height:28px;
	position:relative;
	left:20px;
    background:url(Images/mxxzQ.png) 0 0 no-repeat;
}
.go1 {
    padding:3px 5px 2px;
    margin-left:8px;
    border:none;
    background: -webkit-gradient(linear, left top, left bottom, from(#0099ff), to(#006699));
    background: -moz-linear-gradient(top,  #0099ff,  #006699);
	left:160px;
}

.go1 span {
	display:block;
    width:64px; height:28px;
	background:url(Images/mxxzQ.png) 0 0 no-repeat;
}
#search-bar{
	position: fixed;
	left: 40%;
	top: 40%;
	margin-left: -100px;
}
.ui-menu-item{
	background: -webkit-gradient(linear, left top, left bottom, from(#E0E0E0), to(#D0D0D0 ));
}
a.active{
	color: #0099ff;
}

.register_div{
}

#menu{
    float:right;
    margin-top:2px;
}
#menu ul{
    list-style-type:none;
    font-size:17px;
}
#menu li{
    float:left;line-height:1px;
    margin:0 20px 20px 0;
    color:#b7c4be;
}