<div class="fdpSkuArea" itemscope="itemscope" itemtype="http://data-vocabulary.org/Product">
<div class="fdpSku" id="slidingProduct240183">
<a href="//d3oi2nue850v1c.cloudfront.net/media/uploads/p/l/240183_1-nestle-nestum-rice-stage-1.jpg" class="jqzoom" title="Nestum - Rice (Stage 1)">
<img itemprop="image" src="//d3oi2nue850v1c.cloudfront.net/media/uploads/p/m/240183_1-nestle-nestum-rice-stage-1.jpg" width="300" height="300" alt="Nestle  Nestum - Rice (Stage 1) 300 gm " id="pimg_240183" /></a>
<div class="largerImages">
<div class="dscp">Nestle  Nestum - Rice (Stage 1), 300 gm Carton</div>
<i> Move mouse over image to magnify </i>
</div>
</div><!-- fdpSku -->
<div class="fdpSkuRtArea">
<div class="fdpSkuRtAreaTop">
<div class="fdpSkuName">
<span itemprop="name"><h1>Nestle  Nestum - Rice (Stage 1), 300 gm Carton</h1></span></div><!-- fdpSkuName -->
<div class="float-LT mt15">
<div class="statInfo">
<span itemprop="brand">
<a href="/pb/nestle">Nestle </a>
</span>
</div>
<span class="statInfo">
<span itemprop="model">Pack Size: 300 gm Carton</span>
</span>
<div class="statInfo"></div>
</div>
<div class="float-RT mt15">
<div class="fdpSkuPriceArea" itemprop="offerDetails" itemscope="itemscope" itemtype="http://data-vocabulary.org/Offer">
<meta itemprop="currency" content="INR" /><meta itemprop="condition" content="new" />
<meta itemprop="availability" content="in_stock" />
<div class="price"><span itemprop="price"> Rs. 95.00</span></div>
<div class="qtyAdd" id="p240183_qtyArea">
<div class="fdpQtyArea">Qty:
            <label>
<input name="pqty" type="text" class="qtyTxtField" id="p240183_qty" maxlength="2" value="1" />
</label>
</div>
<div class="addCartButDet"><a href="javascript://" class="a2c" id="p_240183_1"></a></div><!-- addCartBut -->
</div><!-- qtyAdd -->
</div><!-- fdpSkuPriceArea -->
<div id="240183_sldiv">
</div>
</div>
<div class="fdpSkuDesc">
<h2>Details of
                                
                                    Nestle 
                                
                                Nestum - Rice (Stage 1)</h2>
<p></p>
<p>Gentle First Food Rice, Ragi, Textures, differing tastes: Rice Dal Vegetable, Enhanced taste Comples Textures: Rice 3 Fruit.</p>
<p>Ingredients: Rice flout (81.4%), Sucrose, Minerals and Vitamins.</p>
</div><!-- fdpSkuDesc -->
</div><!-- fdpSkuRtAreaTop -->
</div><!-- fdpSkuRtArea -->
</div>